#greenDiv1{
  background-color: green;
  height: 40px;
  width: 80%;
  float: left;
}

#blueDiv{
  background-color: blue;
  height: 40px;
  width: 20%;
  float: left;
}

#redDiv{
  background-color: red;
  height: 100px;
  width: 28%;
  float: left;
}

#orangeDiv{
  background-color: orange;
  height: 50px;
  width: 36%;
  float: left;
}

#grayDiv{
  background-color: gray;
  height: 50px;
  width: 36%;
  float: left;
}

#yellowDiv{
  background-color: yellow;
  height: 50px;
  width: 24%;
  float: left;
}

#greenDiv2{
  background-color: green;
  height: 50px;
  width: 24%;
  float: left;
}

#orangeDiv2{
  background-color: orange;
  height: 50px;
  width: 24%;
  float: left;
}

#blackDiv{
  background-color: black;
  height: 125px;
  width: 100%;
  float: left;
}
